  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
        
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl | chomp_slash }}/assets/css/screen.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl | chomp_slash }}/assets/css/syntax.css" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl | chomp_slash }}/assets/css/custom.css" />