<!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->
<style type="text/css" media="screen">
  .gr_custom_container_1524956710 {
    /* customize your Goodreads widget container here*/
    border: 1px solid gray;
    border-radius:10px;
    padding: 10px 5px 10px 5px;
    background-color: #FFFFFF;
    color: #000000;
    width: 300px
  }
  .gr_custom_header_1524956710 {
    /* customize your Goodreads header here*/
    border-bottom: 1px solid gray;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    font-size: 120%
  }
  .gr_custom_each_container_1524956710 {
    /* customize each individual book container here */
    width: 100%;
    clear: both;
    margin-bottom: 10px;
    overflow: auto;
    padding-bottom: 4px;
    border-bottom: 1px solid #aaa;
  }
  .gr_custom_book_container_1524956710 {
    /* customize your book covers here */
    overflow: hidden;
    height: 60px;
      float: left;
      margin-right: 4px;
      width: 39px;
  }
  .gr_custom_author_1524956710 {
    /* customize your author names here */
    font-size: 10px;
  }
  .gr_custom_tags_1524956710 {
    /* customize your tags here */
    font-size: 10px;
    color: gray;
  }
  .gr_custom_rating_1524956710 {
    /* customize your rating stars here */
    float: right;
  }
</style>

<div id="gr_custom_widget_1524956710">
  <div class="gr_custom_container_1524956710">
    <h2 class="gr_custom_header_1524956710">
    <a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/29664620-glenn?shelf=currently-reading&amp;utm_medium=api&amp;utm_source=custom_widget">Currently Reading</a>
    </h2>
      <div class="gr_custom_each_container_1524956710">
          <div class="gr_custom_book_container_1524956710">
            <a title="Bold: How to Go Big, Create Wealth and Impact the World" rel="nofollow" href="https://www.goodreads.com/review/show/2153991833?utm_medium=api&amp;utm_source=custom_widget"><img alt="Bold: How to Go Big, Create Wealth and Impact the World" border="0" src="https://images.gr-assets.com/books/1432143219s/24554779.jpg" /></a>
          </div>
          <div class="gr_custom_title_1524956710">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/2153991833?utm_medium=api&amp;utm_source=custom_widget">Bold: How to Go Big, Create Wealth and Impact the World</a>
          </div>
          <div class="gr_custom_author_1524956710">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/5376311.Peter_H_Diamandis">Peter H. Diamandis</a>
          </div>
      </div>
  <br style="clear: both"/>
  <center>
    <a rel="nofollow" href="https://www.goodreads.com/"><img alt="goodreads.com" style="border:0" src="https://www.goodreads.com/images/widget/widget_logo.gif" /></a>
  </center>
  <noscript>
    Share <a rel="nofollow" href="https://www.goodreads.com/">book reviews</a> and ratings with Glenn, and even join a <a rel="nofollow" href="https://www.goodreads.com/group">book club</a> on Goodreads.
  </noscript>
  </div>
</div>
<script src="https://www.goodreads.com/review/custom_widget/29664620.Currently%20Reading?cover_position=left&cover_size=small&num_books=1&order=d&shelf=currently-reading&show_author=1&show_cover=1&show_rating=0&show_review=0&show_tags=0&show_title=1&sort=date_updated&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=1&widget_id=1524956710&widget_text_color=000000&widget_title_size=medium&widget_width=medium" type="text/javascript" charset="utf-8"></script>
