<!-- Template: header -->
<header class="main-header
               {% if page.class == 'post-template' %}post-head{% endif %}
               {% if page.class == 'author-template' %}author-head{% endif %}
               {% if page.cover %}
                    " style="background-image: url({{ site.baseurl | chomp_slash }}{{ page.cover }})
                {% else %}
                    no-cover
                {% endif %}">
    <nav class="main-nav {% if page.cover %}overlay{% endif %} clearfix">
        {% if page.logo %}
          <a class="blog-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl | chomp_slash }}{{ page.logo }}" alt="Blog Logo" /></a>
        {% endif %}
        {% if page.navigation %}
            <a class="menu-button" href="#"><i class="fa fa-bars"></i> <span class="word">Menu</span></a>
        {% endif %}
    </nav>

    {% unless include.hidevertical %}
        <div class="vertical">
            <div class="main-header-content inner">
                <h1 class="page-title">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                <!-- <h2 class="page-description">{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}</h2> -->
                <h2 class="page-description">{{ site.description }}</h2>
            </div>
        </div>
    {% endunless %}

    {% if page.class == 'home-template' %}
        <a class="scroll-down" href="#content" data-offset="-45"><i class="fa fa-chevron-left"></i><span class="hidden">Scroll Down</span></a>
    {% endif %}
</header>
<!-- /Template: header -->
