<section class="post-meta">
    {% if site.data.authors[include.author].image %}
      <img class="author-thumb" src="{{site.baseurl | chomp_slash }}{{ site.data.authors[include.author].image }}" alt="Author image" nopin="nopin" />
    {% endif %}
    <a href='{{ site.baseurl | chomp_slash }}/author/{{ include.author }}'>{{ site.data.authors[include.author].name }}</a>
    |
    <time class="post-date" datetime="{{ page.date | date:'%Y-%m-%d' }}">{{ include.date | date_to_string }}</time>
    <!-- [[tags prefix=" on "]] -->
    {% if include.tags.size > 0 %} 
        |
        {% for tag in include.tags %}
            <a href='{{ site.baseurl | chomp_slash }}/tag/{{ tag }}'>#{{ tag }}</a>{% if forloop.index != include.tags.size %},{% endif %}
        {% endfor %}
    {% endif %}
</section>