<nav class="pagination" role="pagination">
    {% if paginator.previous_page %}
        <a class="newer-posts" href="{{ site.baseurl | chomp_slash }}/tag/{{ page.tag }}{{ paginator.previous_page_path }}" title="Previous Page">&laquo; Newer Posts</a>
    {% endif %}
    <span class="page-number">
      Page {{ paginator.page }} of {{ paginator.total_pages }}
      <a href="{{ site.baseurl | chomp_slash }}/tag/{{ page.tag }}/rss.xml" title="RSS Feed"><i class="fa fa-rss fa-{{include.size}}"></i></a>
    </span>
    {% if paginator.next_page %} 
        <a class="older-posts" href="{{ site.baseurl | chomp_slash }}/tag/{{ page.tag }}{{ paginator.next_page_path }}" title="Next Page">Older Posts &raquo;</a>
    {% endif %} 
</nav>