{% comment %}
{% webmention_likes page.url %}

{% webmentions page.url %}
{% webmention_links page.url %}
{% webmention_posts page.url %}
{% webmention_replies page.url %}
{% webmention_reposts page.url %}
{% endcomment %}

{% comment %}
Originally From https://github.com/aarongustafson/aarongustafson.github.io/blob/source/source/_includes/post/webmentions.html
{% endcomment %}

{% comment %}
TODO: REMOVE THIS COMMENT TO REENABLE

{% capture this_url %}{{ site.url | chomp_slash }}{{ page.url }}{% endcapture %}
{% capture redirect %}{{ site.url | chomp_slash }}{{ page.redirect_from }}{% endcapture %}

{% if redirect != this_url %}
	{% webmentions this_url redirect %}
{% else %}
	{% webmentions this_url %}
{% endif %}

TODO: REMOVE THIS COMMENT TO REENABLE
{% endcomment %}

