---
layout: default
title: Author
class: 'author-template'
label: Author
current: author
---

<!-- #author  -->
    <header class="main-header author-head {% if page.cover %}" style="background-image: url({{ site.baseurl | chomp_slash }}{{ page.cover }}) {% else %}no-cover{% endif %}">
        <nav class="main-nav overlay clearfix">
            {% if page.logo %}<a class="blog-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl | chomp_slash }}{{ page.logo }}" alt="Blog Logo" /></a>{% endif %}
            {% if page.navigation %}
                <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
            {% endif %}
        </nav>
    </header>

    <section class="author-profile inner">
        {% if site.data.authors[page.author].image %}
        <figure class="author-image">
            <div class="img" style="background-image: url({{ site.baseurl | chomp_slash }}{{ site.data.authors[page.author].image }})"><span class="hidden">{{ page.author }}'s Picture</span></div>
        </figure>
        {% endif %}
        <h1 class="author-title">{{ page.author }}</h1>
        {% if site.data.authors[page.author].bio %}
            <h2 class="author-bio">{{ site.data.authors[page.author].bio }}</h2>
        {% endif %}
        <div class="author-meta">
            {% if site.data.authors[page.author].location %}
                <span class="author-location icon-location">{{ site.data.authors[page.author].location }}</span>
            {% endif %}
            {% if site.data.authors[page.author].url and site.data.authors[page.author].short_url %}
                <span class="author-link icon-link"><a href="{{ site.data.authors[page.author].url }}">{{ site.data.authors[page.author].short_url }}</a></span>
            {% endif %}
            <span class="author-stats"><i class="icon-stats"></i>{% if paginator.total_posts == 0 %}No posts{% elsif paginator.total_posts == 1 %}1 post{% else %}{{ paginator.total_posts }} posts{% endif %}</span>
        </div>
    </section>
<!-- /author -->

<!-- The main content area on the homepage -->
<main id="content" class="content" role="main">
    {% include loop.html %}
</main>
