---
layout: default
title: Author
class: 'author-template'
label: Author
current: author
---

<!-- #author  -->
    {% include header.html hidevertical="True" %}

    <section class="author-profile inner">
        {% include author-image.html author=page.author %}
        <h1 class="author-title">{{ site.data.authors[page.author].name }}</h1>
        <small>({{ page.author }})</small>
        {% if site.data.authors[page.author].bio %}
            <h2 class="author-bio">{{ site.data.authors[page.author].bio }}</h2>
        {% endif %}
        {% include author-meta.html author=page.author showstats="True" %}
        {% include author-social-icons.html author=page.author size="2x" %}
    </section>
<!-- /author -->

<!-- The main content area on the homepage -->
<main id="content" class="content" role="main">
    {% include loop.html %}
</main>
