---
layout: default
title: Author
class: 'author-template'
label: Author
current: author
---

<!-- #author  -->
    <header class="main-header author-head {% if page.cover %}" style="background-image: url({{ site.baseurl | chomp_slash }}{{ page.cover }}) {% else %}no-cover{% endif %}">
        <nav class="main-nav overlay clearfix">
            {% if page.logo %}<a class="blog-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl | chomp_slash }}{{ page.logo }}" alt="Blog Logo" /></a>{% endif %}
            {% if page.navigation %}
                <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
            {% endif %}
        </nav>
    </header>

    <section class="author-profile inner">
        {% if site.data.authors[page.author].image %}
        <figure class="author-image">
            <div class="img" style="background-image: url({{ site.baseurl | chomp_slash }}{{ site.data.authors[page.author].image }})"><span class="hidden">{{ page.author }}'s Picture</span></div>
        </figure>
        {% endif %}
        <h1 class="author-title">{{ site.data.authors[page.author].name }}</h1>
        <small>({{ page.author }})</small>
        {% if site.data.authors[page.author].bio %}
            <h2 class="author-bio">{{ site.data.authors[page.author].bio }}</h2>
        {% endif %}
        {% include author-meta.html author=page.author showstats="True" %}
        {% include author-social-icons.html author=page.author size="2x" %}
    </section>
<!-- /author -->

<!-- The main content area on the homepage -->
<main id="content" class="content" role="main">
    {% include loop.html %}
</main>
