---
layout: default
disqus: false
class: 'post-template'
---
<!-- Layout: Post -->
{% include header.html title=page.title %}

<main id="content" class="content" role="main">
    <article class="post {{ page.subclass }}">
        <header class="post-header">
            <!-- <h1 class="post-title">{{ page.title }}</h1> -->
            {% include post-meta.html author=page.author date=page.date tags=page.tags %}
        </header>

        <section class="post-content">
            {{ content }}
        </section>

        <footer class="post-footer">

            <!-- #author-->

            {% include author-image.html author=page.author %}

            <section class="author">
                <h4>
                    {% if site.data.authors[page.author].name %}
                        <a href="{{ site.baseurl | chomp_slash }}/author/{{ page.author }}">{{ site.data.authors[page.author].name }}</a>
                    {% else %}
                        {{ page.author }}
                    {% endif %}
                </h4>
                
                {% if site.data.authors[page.author].bio %}
                    <p> {{ site.data.authors[page.author].bio }}</p>
                {% elsif site.data.authors[page.author] %}
                    <p>Read <a href="{{ site.baseurl | chomp_slash }}/author/{{ page.author }}">more posts</a> by this author.</p>
                {% else %}
                    <p>A contributor on {{site.short_url}}</p>
                {% endif %}
                {% include author-meta.html author=page.author %}
                {% include author-social-icons.html author=page.author size="1x" %}
            </section>

            <!-- /author  -->

            {% include social-share.html %}
            
            <!-- Add Disqus Comments -->
            {% if page.disqus %}
                {% include disqus.html %}
            {% endif %}
            
        </footer>

    </article>

</main>

<aside class="read-next">

    <!-- [[! next_post ]] -->{{ post.url }}
    {% if page.next %}
        <a class="read-next-story {% if page.next.cover %}" style="background-image: url({{ site.baseurl | chomp_slash }}{{ page.next.cover }}){% else %}no-cover{% endif %}" href="{{ site.baseurl | chomp_slash }}{{ page.next.url }}">
            <section class="post">
                <h2>{{ page.next.title }}</h2>
                <p>{{ page.next.content | strip_html | truncatewords:25 }}</p>
            </section>
        </a>
    {% endif %}
    <!-- [[! /next_post ]] -->
    <!-- [[! prev_post ]] -->
    {% if page.previous %}
        <a class="read-next-story prev {% if page.previous.cover %}" style="background-image: url({{ site.baseurl | chomp_slash }}{{ page.previous.cover }}){% else %}no-cover{% endif %}" href="{{ site.baseurl | chomp_slash }}{{ page.previous.url }}">
            <section class="post">
                <h2>{{ page.previous.title }}</h2>
                <p>{{ page.previous.excerpt | strip_html | truncatewords:25 }}</p>
            </section>
        </a>
    {% endif %}
    <!-- [[! /prev_post ]] -->
</aside>

<!-- /Layout: Post -->
