---
layout: default
class: 'tag-template'
current: tag
---

{% assign tagTitle=page.tag | capitalize %}
{% assign tagDescription=false %}
{% assign tagCover=false %}

{% for tag in site.data.tags %}
  {% if page.url contains tag[0] %}
    {% assign tagDescription=tag[1].description %}
    {% assign tagCover=tag[1].cover %}
  {% endif %}
{% endfor %}

{% unless tagDescription %}
    {% capture tagDescription %}A {{ paginator.total_posts }}-post collection{% endcapture %}
{% endunless %}

{% include header.html title=tagTitle description=tagDescription cover=tagCover %}

<main id="content" class="content" role="main">
    {% include loop.html %}
</main>